// Slider Options

.rec.rec-arrow:hover {
  background: $purple-dark !important;
}

button.rec-dot {
  display: none;
}

.rec-carousel-item {
  box-shadow: none;
  cursor: pointer;
}

.slide-tech:focus {
  box-shadow: none;
  outline: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

// Buttons

.btn {
  padding: 1rem 2rem;
  border: 1px solid $purple-dark;
  color: $light;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

.btn-purple {
  background: $purple-dark;
}

.btn-purple:hover {
  transform: translateY(-5px);
  background: transparent;
}
