// Slider Options
.rec.rec-arrow {
  background: $purple-dark;
  opacity: 0.7;
}

.rec.rec-arrow:hover {
  background: $purple-dark !important;
}

button.rec-dot {
  display: none;
}

.rec-carousel-item {
  box-shadow: none;
  cursor: pointer;
}

.slide-tech:focus {
  box-shadow: none;
  outline: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
