@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

// Font
$font-stack: "Sen", sans-serif;

// Color
$green-light: #93ffc4;
$green-dark: #58ba85;
$gray-light: #2b2b2be3;
$dark: #000000;
$light: #ffffff;
$gray: #8491a0;
$gray-dark: #5b6876;
$purple-dark: #5221e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $dark;
  font-family: $font-stack;
  color: $light;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: 500;
  color: $light;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: $gray;
}

a {
  text-decoration: none;
}
