@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Sen", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: #8491a0;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.bold {
  font-weight: 600;
  color: #000000;
}

.section-title {
  font-size: 3rem;
  line-height: 3rem;
}

.rec.rec-arrow {
  background: #5221e6;
  opacity: 0.7;
}

.rec.rec-arrow:hover {
  background: #5221e6 !important;
}

button.rec-dot {
  display: none;
}

.rec-carousel-item {
  box-shadow: none;
  cursor: pointer;
}

.slide-tech:focus {
  box-shadow: none;
  outline: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

/* === HEADER ==== */
header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header:after {
  content: "";
  width: 60%;
  height: 100%;
  background: #181823;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* === NAVIGATION === */
.nav {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .logo {
  color: #ffffff;
  font-size: 1.2rem;
}

.nav-wrapper .nav-links {
  display: flex;
  list-style: none;
}

.nav-wrapper .nav-links li {
  padding: 32px 30px;
}

.nav-wrapper .nav-links li a {
  color: #ffffff;
  font-size: 1rem;
}

.nav-wrapper .nav-links .nav-contact {
  background: #5221e6;
  border: 1px solid #5221e6;
  cursor: pointer;
}

/* === HERO === */
.hero-wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  height: 80vh;
}

.hero-wrapper .hero-text h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}

.hero-wrapper .hero-text h1 span {
  color: #8491a0;
}

.hero-wrapper .hero-image img {
  width: 100%;
}

/* === SERVICES === */
#services {
  padding: 7rem 0;
}

#services .services-subheading {
  text-transform: uppercase;
  font-weight: 700;
}

#services .services-heading {
  font-size: 2.5rem;
  font-weight: 700;
}

#services .services-items {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#services .services-items h1 {
  font-size: 5rem;
  color: #8491a0;
}

#services .services-items h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

/* === ABOUT ==== */
#about {
  background: #fff3e4;
  height: 500px;
}

#about .about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#about .about .about-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .about .about-text h1 {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
}

#about .about .about-text p {
  color: #5b6876;
  margin: 2rem 0 7.5rem;
}

#about .about .about-text a {
  color: #000000;
  font-size: 1.2rem;
  width: fit-content;
  position: relative;
}

#about .about .about-text a:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #1b1b1bd5;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#about .about .about-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about .about-image img {
  position: absolute;
  width: 65%;
  height: 400px;
  object-fit: cover;
}

#skillSet {
  padding: 7rem 0;
}

#skillSet .skillSet {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
}

#skillSet .skillSet h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#skillSet .skillSet .skillSet-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item {
  padding: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item h2 {
  margin: 1rem 0;
}

#skillSet .skillSet-bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 1px solid #1b1b1bd5;
  border-bottom: 1px solid #1b1b1bd5;
  padding: 0 2rem;
}

#skillSet .skillSet-bottom .slide-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 1rem;
}

#skillSet .skillSet-bottom .slide-tech img {
  width: 60%;
}

.projects {
  columns: 2 500px;
  column-gap: 2rem;
}

.projects-grid {
  display: inline-block;
  margin-bottom: 5rem;
}

.projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-btn .btn {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5221e6;
  color: #ffffff;
  background: #5221e6;
  transition: 0.3s ease-in;
}

.projects-btn .btn:hover {
  background: transparent;
}

.projects-heading h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.projects-heading p {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.projects .project {
  background: #181823;
}

.projects .project .project-image {
  width: 100%;
  height: 400px;
  background: #cccccc;
}

.projects .project .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .project-info {
  padding: 2.5rem 2rem;
}

.projects .project-info h2 {
  margin-bottom: 1rem;
}

#youtube {
  background: #fff3e4;
  height: 500px;
}

#youtube .youtube {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#youtube .youtube-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#youtube .youtube-text h1 {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
}

#youtube .youtube-text p {
  color: #5b6876;
  margin: 2rem 0 7.5rem;
}

#youtube .youtube-text a {
  color: #000000;
  font-size: 1.2rem;
  width: fit-content;
  position: relative;
}

#youtube .youtube-text a:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #1b1b1bd5;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#youtube .youtube-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtube .youtube-image img {
  width: 100%;
}
/*# sourceMappingURL=App.css.map */