@import "config";
@import "utilities";
@import "buttons";

/* === HEADER ==== */

header {
  width: 100%;
  height: 100vh;
  position: relative;
  &:after {
    content: "";
    width: 60%;
    height: 100%;
    background: #181823;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

/* === NAVIGATION === */
.nav {
  width: 100%;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      color: #ffffff;
      font-size: 1.2rem;
    }
    .nav-links {
      display: flex;
      list-style: none;
      & li {
        padding: 32px 30px;
        a {
          color: $light;
          font-size: 1rem;
        }
      }
      .nav-contact {
        background: $purple-dark;
        border: 1px solid $purple-dark;
        cursor: pointer;
      }
    }
  }
}

/* === HERO === */

.hero-wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  height: 80vh;
  .hero-text {
    h1 {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 1.5rem;
      span {
        color: $gray;
      }
    }
  }
  .hero-image {
    img {
      width: 100%;
    }
  }
}

/* === SERVICES === */

#services {
  padding: 7rem 0;
  .services {
    &-subheading {
      text-transform: uppercase;
      font-weight: 700;
    }
    &-heading {
      font-size: 2.5rem;
      font-weight: 700;
    }
    &-items {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      h1 {
        font-size: 5rem;
        color: $gray;
      }
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 1rem 0;
      }
    }
  }
}

/* === ABOUT ==== */
#about {
  background: #fff3e4;
  height: 500px;
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    .about-text {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: $dark;
        font-weight: 700;
        font-size: 2.5rem;
      }
      p {
        color: $gray-dark;
        margin: 2rem 0 7.5rem;
      }
      a {
        color: $dark;
        font-size: 1.2rem;
        width: fit-content;
        position: relative;
      }
      a:after {
        content: "";
        width: 100%;
        height: 1.5px;
        background: #1b1b1bd5;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
    .about-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        width: 65%;
        height: 400px;
        object-fit: cover;
      }
    }
  }
}

// SkillSet
#skillSet {
  padding: 7rem 0;
  .skillSet {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 1.5rem;
    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    .skillSet-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .skillSet-item {
        padding: 1rem;
        h2 {
          margin: 1rem 0;
        }
      }
    }
    &-bottom {
      display: flex;
      margin-top: 3rem;
      border-top: 1px solid #1b1b1bd5;
      border-bottom: 1px solid #1b1b1bd5;
      padding: 0 2rem;
      .slide-tech {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 100%;
        margin: 0 1rem;
        img {
          width: 60%;
        }
      }
    }
  }
}

// Projects
.projects {
  columns: 2 500px;
  column-gap: 2rem;
  &-grid {
    display: inline-block;
    margin-bottom: 5rem;
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
      width: 170px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $purple-dark;
      color: $light;
      // background: transparent;
      background: $purple-dark;
      transition: 0.3s ease-in;
      &:hover {
        // background: $purple-dark;
        background: transparent;
      }
    }
  }
  &-heading {
    h1 {
      font-weight: 700;
      font-size: 2.5rem;
    }
    p {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 700;
    }
  }
  .project {
    background: #181823;
    .project-image {
      width: 100%;
      height: 400px;
      background: #cccccc;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      padding: 2.5rem 2rem;
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

// Youtube Section
#youtube {
  background: #fff3e4;
  height: 500px;
  .youtube {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    &-text {
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        color: $dark;
        font-weight: 700;
        font-size: 2.5rem;
      }
      p {
        color: $gray-dark;
        margin: 2rem 0 7.5rem;
      }
      a {
        color: $dark;
        font-size: 1.2rem;
        width: fit-content;
        position: relative;
      }
      a:after {
        content: "";
        width: 100%;
        height: 1.5px;
        background: #1b1b1bd5;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}
