@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  font-family: "Sen", sans-serif;
  color: #ffffff;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: #8491a0;
}

li {
  font-size: 15px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
  li {
    font-size: 14px;
  }
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.rec.rec-arrow:hover {
  background: #5221e6 !important;
}

button.rec-dot {
  display: none;
}

.rec-carousel-item {
  box-shadow: none;
  cursor: pointer;
}

.slide-tech:focus {
  box-shadow: none;
  outline: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid #5221e6;
  color: #ffffff;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

.btn-purple {
  background: #5221e6;
}

.btn-purple:hover {
  transform: translateY(-5px);
  background: transparent;
}

.loading-wrapper {
  background: #000000;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -56px;
  width: 112px;
  height: 70px;
  *zoom: 1;
}

.loading:before,
.loading:after {
  display: table;
  content: "";
}

.loading:after {
  clear: both;
}

.loading .finger {
  float: left;
  margin: 0 2px 0 0;
  width: 20px;
  height: 100%;
}

.loading .finger-1 {
  animation: finger-1-animation 1.5s infinite ease-out;
}

.loading .finger-1 span {
  animation: finger-1-animation-span 1.5s infinite ease-out;
}

.loading .finger-1 i {
  animation: finger-1-animation-i 1.5s infinite ease-out;
}

.loading .finger-2 {
  animation: finger-2-animation 1.5s infinite ease-out;
}

.loading .finger-2 span {
  animation: finger-2-animation-span 1.5s infinite ease-out;
}

.loading .finger-2 i {
  animation: finger-2-animation-i 1.5s infinite ease-out;
}

.loading .finger-3 {
  animation: finger-3-animation 1.5s infinite ease-out;
}

.loading .finger-3 span {
  animation: finger-3-animation-span 1.5s infinite ease-out;
}

.loading .finger-3 i {
  animation: finger-3-animation-i 1.5s infinite ease-out;
}

.loading .finger-4 {
  animation: finger-4-animation 1.5s infinite ease-out;
}

.loading .finger-4 span {
  animation: finger-4-animation-span 1.5s infinite ease-out;
}

.loading .finger-4 i {
  animation: finger-4-animation-i 1.5s infinite ease-out;
}

.loading .finger-item {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 6px 6px 8px 8px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px 6px 8px 8px;
  -moz-background-clip: padding;
  border-radius: 6px 6px 8px 8px;
  background-clip: padding-box;
  background: #fff;
}

.loading .finger-item span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 5px 5px 0 5px;
}

.loading .finger-item span:before,
.loading .finger-item span:after {
  content: "";
  position: relative;
  display: block;
  margin: 0 0 2px 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.loading .finger-item i {
  position: absolute;
  left: 3px;
  bottom: 3px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 10px 10px 7px 7px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px 10px 7px 7px;
  -moz-background-clip: padding;
  border-radius: 10px 10px 7px 7px;
  background-clip: padding-box;
  background: #000000;
}

.loading .last-finger {
  position: relative;
  float: left;
  width: 24px;
  height: 100%;
  overflow: hidden;
}

.loading .last-finger-item {
  position: absolute;
  right: 0;
  top: 32px;
  width: 110%;
  height: 20px;
  -webkit-border-radius: 0 5px 14px 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 5px 14px 0;
  -moz-background-clip: padding;
  border-radius: 0 5px 14px 0;
  background-clip: padding-box;
  background: #fff;
  animation: finger-5-animation 2s infinite linear;
}

.loading .last-finger-item i {
  position: absolute;
  left: 0;
  top: -8px;
  width: 22px;
  height: 8px;
  background: #fff;
  overflow: hidden;
}

.loading .last-finger-item i:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 34px;
  height: 20px;
  -webkit-border-radius: 0 0 15px 15px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 15px 15px;
  -moz-background-clip: padding;
  border-radius: 0 0 15px 15px;
  background-clip: padding-box;
  background: #000000;
}

@keyframes finger-1-animation {
  0% {
    padding: 12px 0 5px 0;
  }
  20% {
    padding: 12px 0 5px 0;
  }
  29% {
    padding: 4px 0 24px 0;
  }
  35% {
    padding: 4px 0 24px 0;
  }
  41% {
    padding: 12px 0 5px 0;
  }
  100% {
    padding: 12px 0 5px 0;
  }
}

@keyframes finger-1-animation-span {
  0% {
    top: 0;
  }
  20% {
    top: 0;
  }
  29% {
    top: -7px;
  }
  35% {
    top: -7px;
  }
  41% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes finger-1-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  20% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  29% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  35% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  41% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}

@keyframes finger-2-animation {
  0% {
    padding: 6px 0 2px 0;
  }
  24% {
    padding: 6px 0 2px 0;
  }
  33% {
    padding: 2px 0 16px 0;
  }
  39% {
    padding: 2px 0 16px 0;
  }
  45% {
    padding: 6px 0 2px 0;
  }
  100% {
    padding: 6px 0 2px 0;
  }
}

@keyframes finger-2-animation-span {
  0% {
    top: 0;
  }
  24% {
    top: 0;
  }
  33% {
    top: -7px;
  }
  39% {
    top: -7px;
  }
  45% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes finger-2-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  24% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  33% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  39% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  45% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}

@keyframes finger-3-animation {
  0% {
    padding: 0 0 0 0;
  }
  28% {
    padding: 0 0 0 0;
  }
  37% {
    padding: 0 0 12px 0;
  }
  43% {
    padding: 0 0 12px 0;
  }
  49% {
    padding: 0 0 0 0;
  }
  100% {
    padding: 0 0 0 0;
  }
}

@keyframes finger-3-animation-span {
  0% {
    top: 0;
  }
  28% {
    top: 0;
  }
  37% {
    top: -7px;
  }
  43% {
    top: -7px;
  }
  49% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes finger-3-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  28% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  37% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  43% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  49% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}

@keyframes finger-4-animation {
  0% {
    padding: 8px 0 3px 0;
  }
  32% {
    padding: 8px 0 3px 0;
  }
  41% {
    padding: 4px 0 20px 0;
  }
  47% {
    padding: 4px 0 20px 0;
  }
  53% {
    padding: 8px 0 3px 0;
  }
  100% {
    padding: 8px 0 3px 0;
  }
}

@keyframes finger-4-animation-span {
  0% {
    top: 0;
  }
  32% {
    top: 0;
  }
  41% {
    top: -7px;
  }
  47% {
    top: -7px;
  }
  53% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes finger-4-animation-i {
  0% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  32% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  41% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  47% {
    bottom: 8px;
    height: 12px;
    -webkit-border-radius: 7px 7px 4px 4px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px 7px 4px 4px;
    -moz-background-clip: padding;
    border-radius: 7px 7px 4px 4px;
    background-clip: padding-box;
  }
  53% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
  100% {
    bottom: 3px;
    height: 14px;
    -webkit-border-radius: 10px 10px 7px 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 10px 10px 7px 7px;
    -moz-background-clip: padding;
    border-radius: 10px 10px 7px 7px;
    background-clip: padding-box;
  }
}

@keyframes finger-5-animation {
  0% {
    top: 32px;
    right: 0;
    -webkit-border-radius: 0 5px 14px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 5px 14px 0;
    -moz-background-clip: padding;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
  34% {
    top: 32px;
    right: 0;
    -webkit-border-radius: 0 5px 14px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 5px 14px 0;
    -moz-background-clip: padding;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
  43% {
    top: 20px;
    right: 2px;
    -webkit-border-radius: 0 8px 20px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 8px 20px 0;
    -moz-background-clip: padding;
    border-radius: 0 8px 20px 0;
    background-clip: padding-box;
    transform: rotate(-12deg);
  }
  50% {
    top: 20px;
    right: 2px;
    -webkit-border-radius: 0 8px 20px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 8px 20px 0;
    -moz-background-clip: padding;
    border-radius: 0 8px 20px 0;
    background-clip: padding-box;
    transform: rotate(-12deg);
  }
  60% {
    top: 32px;
    right: 0;
    -webkit-border-radius: 0 5px 14px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 5px 14px 0;
    -moz-background-clip: padding;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
  100% {
    top: 32px;
    right: 0;
    -webkit-border-radius: 0 5px 14px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 5px 14px 0;
    -moz-background-clip: padding;
    border-radius: 0 5px 14px 0;
    background-clip: padding-box;
    transform: rotate(0deg);
  }
}

.credits-info {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 0 0 20px;
  opacity: 50;
}

.credits-info h1 {
  margin: 0 0 25px 0;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.credits-info p {
  margin: 0 0 15px 0;
  max-width: 320px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
  color: #fff;
}

.credits-info span {
  margin: 0 5px;
  opacity: 30;
}

.credits-info a {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.credits-info a:hover {
  border-bottom: 3px solid #fff;
}

* {
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* === HEADER ==== */
header {
  width: 100%;
  position: relative;
}

header:after {
  content: "";
  width: 60%;
  height: 100%;
  background: #181823;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* === NAVIGATION === */
.nav {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .logo img {
  width: 45px;
}

.nav-wrapper .nav-links {
  display: flex;
  list-style: none;
}

.nav-wrapper .nav-links li {
  padding: 2.5rem 2rem;
}

.nav-wrapper .nav-links li a {
  color: #ffffff;
  transition: 0.2s;
}

.nav-wrapper .nav-links li a:hover {
  color: #8491a0;
}

.nav-wrapper #hamburger {
  display: none;
  z-index: 999;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 1.5rem 0;
  }
  .nav .nav-wrapper {
    /* Hamburger Animation */
  }
  .nav .nav-wrapper #hamburger {
    display: block;
    width: 40px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .nav .nav-wrapper #hamburger span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
  }
  .nav .nav-wrapper #hamburger span:nth-child(1) {
    top: 0px;
  }
  .nav .nav-wrapper #hamburger span:nth-child(2) {
    top: 11px;
  }
  .nav .nav-wrapper #hamburger span:nth-child(3) {
    top: 22px;
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(1) {
    top: 12px;
    transform: rotate(135deg);
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg);
  }
  .nav .nav-wrapper .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .nav .nav-wrapper .main-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181823;
    z-index: -1;
  }
  .nav .nav-wrapper .main-nav ul {
    width: 90%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .nav .nav-wrapper .main-nav ul li {
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .nav .nav-wrapper .main-nav ul li a {
    font-size: 1.1rem;
    display: inline-block;
    transform: translateY(100%);
  }
  .nav .nav-wrapper .main-nav ul .nav-contact {
    background: none;
    border: none;
  }
  .nav .nav-wrapper .main-nav ul .nav-contact a {
    border: 2px solid #5221e6;
    background: #5221e6;
    padding: 0.7rem 1.2rem;
    transition: 0.2s ease-in;
    border-radius: 3px;
  }
  .nav .nav-wrapper .main-nav ul .nav-contact a:hover {
    background: transparent;
  }
  .nav .nav-wrapper .active {
    transform: translateX(0);
    transition-duration: 0.3s;
  }
  .nav .nav-wrapper .active:after {
    animation: nav-bg 0.7s forwards;
  }
  .nav .nav-wrapper .active a {
    animation: link-appear 2s forwards;
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-50deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes link-appear {
  0%,
  25% {
    transform: translateY(100%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}

/* === HERO === */
.hero {
  padding: 7rem 0;
}

.hero .hero-wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
}

.hero .hero-wrapper .hero-text {
  padding-bottom: 2.5rem;
}

.hero .hero-wrapper .hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.hero .hero-wrapper .hero-text h1 span {
  color: #8491a0;
}

.hero .hero-wrapper .hero-text-links {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.hero .hero-wrapper .hero-text-links .btn-cv {
  font-size: 0.9rem;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.hero .hero-wrapper .hero-text-links .btn-cv i {
  margin-right: 0.5rem;
}

.hero .hero-wrapper .hero-text-links .hero-social {
  margin: 0 1rem;
}

.hero .hero-wrapper .hero-text-links .hero-social i {
  font-size: 1.5rem;
  color: #8491a0;
  transition: 0.3s ease-in;
}

.hero .hero-wrapper .hero-text-links .hero-social i:hover {
  color: #ffffff;
}

.hero .hero-wrapper .hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-wrapper .hero-image img {
  width: 100%;
}

/* === SERVICES === */
#services {
  padding: 9rem 0;
}

#services .services-subheading {
  text-transform: uppercase;
  font-weight: 700;
}

#services .services-heading {
  font-weight: 700;
}

#services .services-items {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

#services .services-items h1 {
  font-size: 4rem;
  color: #8491a0;
}

#services .services-items h5 {
  font-weight: 700;
  margin: 1rem 0;
}

/* === ABOUT ==== */
#about {
  background: #fff3e4;
  padding: 9rem 0;
}

#about .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

#about .about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .about .about-text h1 {
  color: #000000;
  font-weight: 700;
}

#about .about .about-text-desc {
  margin: 2rem 0 1rem;
}

#about .about .about-text-desc p {
  color: #5b6876;
  margin-bottom: 1rem;
}

#about .about .about-text-skill {
  color: #5b6876;
  list-style-position: inside;
  display: flex;
}

#about .about .about-text-skill .list-1 {
  margin-right: 3rem;
}

#about .about .about-text-skill ul {
  list-style: none;
}

#about .about .about-text-skill ul li {
  margin-bottom: 0.8rem;
}

#about .about .about-text-skill ul li i {
  margin-right: 0.9rem;
}

#about .about .about-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about .about-image img {
  max-width: 350px;
  height: 400px;
  object-fit: cover;
}

/* === SKILLSET === */
#skillSet {
  padding: 0rem 0 6rem;
}

#skillSet .skillSet {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
}

#skillSet .skillSet h1 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#skillSet .skillSet .skillSet-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item {
  padding: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item h4 {
  margin-top: 1rem;
}

#skillSet .skillSet-bottom {
  display: flex;
  border-top: 1px solid #1b1b1bd5;
  border-bottom: 1px solid #1b1b1bd5;
  padding: 0 2rem;
}

#skillSet .skillSet-bottom .slide-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 1rem;
}

#skillSet .skillSet-bottom .slide-tech img {
  width: 43%;
}

/* === PROJECTS === */
#projects {
  padding: 6rem 0 2rem;
}

#projects .projects {
  columns: 2 350px;
  column-gap: 2rem;
}

#projects .projects-grid {
  display: inline-block;
  margin-bottom: 5rem;
}

#projects .projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .projects-btn .btn {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5221e6;
  color: #ffffff;
  background: #5221e6;
  transition: 0.3s ease-in;
  cursor: pointer;
}

#projects .projects-btn .btn:hover {
  background: transparent;
}

#projects .projects-heading h1 {
  font-weight: 700;
}

#projects .projects-heading p {
  text-transform: uppercase;
  font-weight: 700;
}

#projects .projects .project {
  background: #181823;
}

#projects .projects .project .project-image {
  width: 100%;
  height: 350px;
  background: #cccccc;
}

#projects .projects .project .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#projects .projects .project-info {
  padding: 2rem 1.5rem;
}

#projects .projects .project-info h4 {
  margin-bottom: 0.5rem;
}

#projects .projects .project-info-stack {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#projects .projects .project-info-stack p {
  color: #5b6876;
}

#projects .projects .project-info-links {
  margin-top: 1.5rem;
}

#projects .projects .project-info-links a {
  margin-right: 1rem;
}

#projects .projects .project-info-links a i {
  color: #ffffff;
  font-size: 1.5rem;
}

/* === YOUTUBE === */
#youtube {
  background: #fff3e4;
  padding: 4rem 0;
}

#youtube .youtube {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#youtube .youtube-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#youtube .youtube-text h1 {
  color: #000000;
  font-weight: 700;
}

#youtube .youtube-text p {
  color: #5b6876;
  margin: 2rem 0 7.5rem;
}

#youtube .youtube-text a {
  color: #000000;
  width: fit-content;
  position: relative;
}

#youtube .youtube-text a:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #1b1b1bd5;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.2s;
}

#youtube .youtube-text a:hover:after {
  bottom: 0;
}

#youtube .youtube-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#youtube .youtube-image img {
  width: 100%;
}

#youtube .youtube-image .play-button {
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  z-index: 999;
  left: 40%;
  top: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

#youtube .youtube-image .play-button .play-it {
  width: 35px;
  height: 35px;
}

#youtube .youtube-image .play-button:hover {
  transform: scale(0.9);
  opacity: 0.9;
}

.youtube-video {
  width: 100vw;
  height: 100vh;
  margin: auto auto;
  position: fixed;
  z-index: 99999 !important;
  transition: 0.3s ease;
}

.youtube-video-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000de;
}

.youtube-video-wrap .close-modal {
  position: absolute;
  right: 80px;
  top: 50px;
  cursor: pointer;
}

.youtube-video-wrap .close-modal div {
  width: 50px;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  cursor: pointer;
}

.youtube-video-wrap .close-modal div:nth-child(1) {
  transform: rotate(45deg) translateY(8px) translateX(3px);
}

.youtube-video-wrap .close-modal div:nth-child(2) {
  transform: rotate(-45deg) translateY(-4px) translateX(-3px);
}

.youtube-video-wrap .youtube-box {
  width: 75%;
  height: 75%;
}

.youtube-video-wrap .youtube-box iframe {
  border: none;
}

/* === CONTACT === */
#contact {
  margin: 3rem 0;
  padding: 4rem 0;
}

#contact .contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

#contact .contact-heading h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

#contact .contact-heading-icons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

#contact .contact-heading-icons a i {
  color: #ffffff;
  font-size: 1.9rem;
}

#contact .contact-heading-icons a i:hover {
  color: #8491a0;
}

#contact .contact-form form .form-control {
  margin-bottom: 2rem;
}

#contact .contact-form form .form-control input,
#contact .contact-form form .form-control textarea {
  margin-top: 0.5rem;
  width: 100%;
  background: #181823;
  border: none;
  padding: 1rem;
  outline: none;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
}

#contact .contact-form form button {
  margin-top: 1rem;
  width: 100%;
  padding: 1.1rem 0;
  font-size: 1rem;
  font-family: "Sen", sans-serif;
  color: #ffffff;
  background: #5221e6;
  border: 1px solid #5221e6;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

#contact .contact-form form button:hover {
  background: transparent;
}

/* === FOOTER === */
footer {
  padding: 3rem 0;
  text-align: center;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8491a0;
  transition: 0.2s;
}

footer a:hover {
  color: #6437ec;
}

footer a i {
  font-size: 4px;
  margin: 0 0.5rem;
}

@media all and (max-width: 900px) {
  .hero {
    padding: 1.5rem 0 !important;
  }
  .hero .hero-wrapper {
    grid-template-columns: 1fr;
  }
  .hero .hero-wrapper .hero-text {
    order: 2;
  }
  .hero .hero-wrapper .hero-text h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }
  .hero .hero-wrapper .hero-image {
    text-align: center;
  }
  .hero .hero-wrapper .hero-image img {
    width: 65%;
  }
  #services {
    padding: 6rem 0;
  }
  #skillSet .skillSet {
    grid-template-columns: 1fr;
  }
  #skillSet .skillSet-bottom {
    margin-top: 2rem;
  }
  #skillSet .skillSet-bottom .slide-tech img {
    width: 55%;
  }
  #projects .projects-btn .btn {
    width: 145px;
    font-size: 0.9rem;
  }
  #youtube {
    padding: 3rem 0;
  }
  #youtube .youtube-text {
    height: fit-content;
  }
  #youtube .youtube-text p {
    margin: 1rem 0 3.5rem;
  }
  .youtube-video .youtube-box {
    width: 80%;
    height: 50%;
  }
  #contact .contact-heading {
    text-align: center;
  }
  #contact .contact-heading-icons {
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  #youtube .youtube {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 680px) {
  .hero {
    padding: 2rem 0 3rem;
  }
  .hero .hero-wrapper {
    text-align: center;
  }
  .hero .hero-wrapper .hero-text h1 {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  .hero .hero-wrapper .hero-text-links {
    margin-top: 2rem;
    flex-direction: column;
  }
  .hero .hero-wrapper .hero-text-links .btn-cv {
    margin-right: 1rem;
    padding: 10px 15px;
    margin-bottom: 1.5rem;
  }
  .hero .hero-wrapper .hero-text-links-2 i {
    font-size: 25px !important;
  }
  .hero .hero-wrapper .hero-image img {
    width: 75% !important;
  }
  #services .services-items h1 {
    font-size: 3rem;
  }
  #services .services-items h5 {
    margin: 0.5rem 0;
  }
  #about {
    padding: 5rem 0;
  }
  #about .about .about-text p {
    margin: 1.3rem 0 0.7rem;
  }
  #about .about-image img {
    width: 80%;
  }
  #projects {
    padding: 2rem 0;
  }
  #projects .projects-grid {
    margin-bottom: 3rem;
  }
  #projects .projects .project .project-image {
    height: 275px;
  }
  #projects .projects .project .project-info {
    padding: 1rem;
  }
  #skillSet .skillSet-items .skillSet-item {
    padding: 0 !important;
    margin-bottom: 1.5rem;
  }
  #skillSet .skillSet-bottom .slide-tech img {
    width: 100%;
  }
  #youtube .youtube-image .play-button {
    width: 70px;
    height: 70px;
  }
  #youtube .youtube-image .play-button .play-it {
    width: 20px;
    height: 20px;
  }
  .youtube-video .close-modal {
    right: 30px;
    top: 30px;
  }
  .youtube-video .youtube-box {
    width: 90%;
    height: 40%;
  }
  #contact {
    margin: 1rem 0;
  }
  #contact .contact-form form button {
    font-size: 0.9rem;
  }
  footer a {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 580px) {
  .hero-wrapper .hero-image img {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  #projects {
    padding: 2rem 0;
  }
  #projects .projects-grid {
    margin-bottom: 3rem;
  }
  #projects .projects .project .project-image {
    height: 235px;
  }
}
/*# sourceMappingURL=App.css.map */