@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "Sen", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: #8491a0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 0.9rem;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.rec.rec-arrow:hover {
  background: #5221e6 !important;
}

button.rec-dot {
  display: none;
}

.rec-carousel-item {
  box-shadow: none;
  cursor: pointer;
}

.slide-tech:focus {
  box-shadow: none;
  outline: none;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.btn {
  padding: 1rem 2rem;
  border: 1px solid #5221e6;
  color: #ffffff;
  border-radius: 3px;
  transition: 0.3s ease-in;
}

.btn-purple {
  background: #5221e6;
}

.btn-purple:hover {
  transform: translateY(-5px);
  background: transparent;
}

.loading {
  background: linear-gradient(to right, #ffefba, white);
  width: 100%;
  height: 100vh;
}

.loading-title {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 50%;
  animation: speeder 0.4s linear infinite;
}

.body > span {
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
}

.base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #000;
  border-bottom: 6px solid transparent;
}

.base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: -110px;
  top: -16px;
}

.base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #000;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #000;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #000;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 0 2px;
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  animation: fazer1 0.2s linear infinite;
}

.body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 0.4s linear infinite;
}

.body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 0.4s linear infinite;
  animation-delay: -1s;
}

.body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #000;
}

.longfazers span:nth-child(1) {
  top: 20%;
  animation: lf 0.6s linear infinite;
  animation-delay: -5s;
}

.longfazers span:nth-child(2) {
  top: 40%;
  animation: lf2 0.8s linear infinite;
  animation-delay: -1s;
}

.longfazers span:nth-child(3) {
  top: 60%;
  animation: lf3 0.6s linear infinite;
}

.longfazers span:nth-child(4) {
  top: 80%;
  animation: lf4 0.5s linear infinite;
  animation-delay: -3s;
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}

@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

/* === HEADER ==== */
header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header:after {
  content: "";
  width: 60%;
  height: 100%;
  background: #181823;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* === NAVIGATION === */
.nav {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper .logo img {
  width: 45px;
}

.nav-wrapper .nav-links {
  display: flex;
  list-style: none;
}

.nav-wrapper .nav-links li {
  padding: 2.5rem 2rem;
}

.nav-wrapper .nav-links li a {
  color: #ffffff;
  transition: 0.2s;
}

.nav-wrapper .nav-links li a:hover {
  color: #8491a0;
}

.nav-wrapper #hamburger {
  display: none;
  z-index: 999;
  cursor: pointer;
}

.nav-wrapper #hamburger .line {
  cursor: pointer;
  width: 2.5rem;
  height: 3px;
  margin: 5px 0;
  background: #ffffff;
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 1.5rem 0;
  }
  .nav .nav-wrapper {
    /* Hamburger Animation */
  }
  .nav .nav-wrapper #hamburger {
    display: block;
    width: 43px;
    height: 35px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .nav .nav-wrapper #hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
  }
  .nav .nav-wrapper #hamburger span:nth-child(1) {
    top: 0px;
  }
  .nav .nav-wrapper #hamburger span:nth-child(2) {
    top: 12px;
  }
  .nav .nav-wrapper #hamburger span:nth-child(3) {
    top: 24px;
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(1) {
    top: 12px;
    transform: rotate(135deg);
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .nav .nav-wrapper #hamburger.open span:nth-child(3) {
    top: 12px;
    transform: rotate(-135deg);
  }
  .nav .nav-wrapper .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .nav .nav-wrapper .main-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #181823;
    z-index: -1;
  }
  .nav .nav-wrapper .main-nav ul {
    width: 90%;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .nav .nav-wrapper .main-nav ul li {
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .nav .nav-wrapper .main-nav ul li a {
    font-size: 1.4rem;
    display: inline-block;
    transform: translateY(100%);
  }
  .nav .nav-wrapper .main-nav ul .nav-contact {
    background: none;
    border: none;
  }
  .nav .nav-wrapper .main-nav ul .nav-contact a {
    border: 2px solid #5221e6;
    background: #5221e6;
    padding: 1rem 2rem;
    transition: 0.2s ease-in;
  }
  .nav .nav-wrapper .main-nav ul .nav-contact a:hover {
    background: transparent;
  }
  .nav .nav-wrapper .active {
    transform: translateX(0);
    transition-duration: 0.3s;
  }
  .nav .nav-wrapper .active:after {
    animation: nav-bg 0.7s forwards;
  }
  .nav .nav-wrapper .active a {
    animation: link-appear 2s forwards;
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-50deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes link-appear {
  0%,
  25% {
    transform: translateY(100%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}

/* === HERO === */
.hero-wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  min-height: 80vh;
}

.hero-wrapper .hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.hero-wrapper .hero-text h1 span {
  color: #8491a0;
}

.hero-wrapper .hero-text-links {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.hero-wrapper .hero-text-links .btn-cv {
  font-size: 0.9rem;
  margin-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.hero-wrapper .hero-text-links .btn-cv i {
  margin-right: 0.5rem;
}

.hero-wrapper .hero-text-links .hero-social {
  margin: 0 1rem;
}

.hero-wrapper .hero-text-links .hero-social i {
  font-size: 1.5rem;
  color: #8491a0;
  transition: 0.3s ease-in;
}

.hero-wrapper .hero-text-links .hero-social i:hover {
  color: #ffffff;
}

.hero-wrapper .hero-image img {
  width: 100%;
}

/* === SERVICES === */
#services {
  padding: 9rem 0;
}

#services .services-subheading {
  text-transform: uppercase;
  font-weight: 700;
}

#services .services-heading {
  font-weight: 700;
}

#services .services-items {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

#services .services-items h1 {
  font-size: 4rem;
  color: #8491a0;
}

#services .services-items h5 {
  font-weight: 700;
  margin: 1rem 0;
}

/* === ABOUT ==== */
#about {
  background: #fff3e4;
  padding: 9rem 0;
}

#about .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

#about .about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .about .about-text h1 {
  color: #000000;
  font-weight: 700;
}

#about .about .about-text p {
  color: #5b6876;
  margin: 2rem 0 7.5rem;
}

#about .about .about-text a {
  color: #000000;
  font-size: 1rem;
  width: fit-content;
  position: relative;
}

#about .about .about-text a:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #1b1b1bd5;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.2s;
}

#about .about .about-text a:hover:after {
  bottom: 0;
}

#about .about .about-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .about .about-image img {
  max-width: 350px;
  height: 400px;
  object-fit: cover;
}

/* === SKILLSET === */
#skillSet {
  padding: 6rem 0;
}

#skillSet .skillSet {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1.5rem;
}

#skillSet .skillSet h1 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

#skillSet .skillSet .skillSet-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item {
  padding: 1rem;
}

#skillSet .skillSet .skillSet-items .skillSet-item h4 {
  margin: 1rem 0;
}

#skillSet .skillSet-bottom {
  display: flex;
  margin-top: 6rem;
  border-top: 1px solid #1b1b1bd5;
  border-bottom: 1px solid #1b1b1bd5;
  padding: 0 2rem;
}

#skillSet .skillSet-bottom .slide-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin: 0 1rem;
}

#skillSet .skillSet-bottom .slide-tech img {
  width: 43%;
}

/* === PROJECTS === */
#projects {
  padding: 4rem 0;
}

#projects .projects {
  columns: 2 350px;
  column-gap: 2rem;
}

#projects .projects-grid {
  display: inline-block;
  margin-bottom: 5rem;
}

#projects .projects-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .projects-btn .btn {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #5221e6;
  color: #ffffff;
  background: #5221e6;
  transition: 0.3s ease-in;
  cursor: pointer;
}

#projects .projects-btn .btn:hover {
  background: transparent;
}

#projects .projects-heading h1 {
  font-weight: 700;
}

#projects .projects-heading p {
  text-transform: uppercase;
  font-weight: 700;
}

#projects .projects .project {
  background: #181823;
}

#projects .projects .project .project-image {
  width: 100%;
  height: 350px;
  background: #cccccc;
}

#projects .projects .project .project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#projects .projects .project-info {
  padding: 2rem 1.5rem;
}

#projects .projects .project-info h4 {
  margin-bottom: 0.5rem;
}

#projects .projects .project-info-stack {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

#projects .projects .project-info-stack p {
  color: #5b6876;
}

#projects .projects .project-info-links {
  margin-top: 1.5rem;
}

#projects .projects .project-info-links a {
  margin-right: 1rem;
}

#projects .projects .project-info-links a i {
  color: #ffffff;
  font-size: 1.5rem;
}

/* === YOUTUBE === */
#youtube {
  background: #fff3e4;
  padding: 4rem 0;
}

#youtube .youtube {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

#youtube .youtube-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#youtube .youtube-text h1 {
  color: #000000;
  font-weight: 700;
}

#youtube .youtube-text p {
  color: #5b6876;
  margin: 2rem 0 7.5rem;
}

#youtube .youtube-text a {
  color: #000000;
  width: fit-content;
  position: relative;
}

#youtube .youtube-text a:after {
  content: "";
  width: 100%;
  height: 1.5px;
  background: #1b1b1bd5;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.2s;
}

#youtube .youtube-text a:hover:after {
  bottom: 0;
}

#youtube .youtube-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#youtube .youtube-image img {
  width: 100%;
}

/* === CONTACT === */
#contact {
  margin: 3rem 0;
  padding: 4rem 0;
}

#contact .contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

#contact .contact-heading h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}

#contact .contact-heading-icons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

#contact .contact-heading-icons a i {
  color: #ffffff;
  font-size: 1.9rem;
}

#contact .contact-heading-icons a i:hover {
  color: #8491a0;
}

#contact .contact-form form .form-control {
  margin-bottom: 2rem;
}

#contact .contact-form form .form-control input,
#contact .contact-form form .form-control textarea {
  margin-top: 0.5rem;
  width: 100%;
  background: #181823;
  border: none;
  padding: 1rem;
  outline: none;
  color: #ffffff;
  font-family: "Sen", sans-serif;
  font-size: 1rem;
}

#contact .contact-form form button {
  margin-top: 1rem;
  width: 100%;
  padding: 1.1rem 0;
  font-size: 1rem;
  font-family: "Sen", sans-serif;
  color: #ffffff;
  background: #5221e6;
  border: 1px solid #5221e6;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

#contact .contact-form form button:hover {
  background: transparent;
}

/* === FOOTER === */
footer {
  padding: 3rem 0;
  text-align: center;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8491a0;
  transition: 0.2s;
}

footer a:hover {
  color: #6437ec;
}

footer a i {
  font-size: 4px;
  margin: 0 0.5rem;
}

@media all and (max-width: 900px) {
  .hero-wrapper {
    grid-template-columns: 1fr;
  }
  .hero-wrapper .hero-text {
    order: 2;
  }
  .hero-wrapper .hero-text h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }
  .hero-wrapper .hero-image {
    text-align: center;
  }
  .hero-wrapper .hero-image img {
    width: 65%;
  }
  #services {
    padding: 6rem 0;
  }
  #skillSet .skillSet {
    grid-template-columns: 1fr;
  }
  #skillSet .skillSet-bottom {
    margin-top: 2rem;
  }
  #skillSet .skillSet-bottom .slide-tech img {
    width: 55%;
  }
  #projects .projects-btn .btn {
    width: 145px;
    font-size: 0.9rem;
  }
  #youtube {
    padding: 3rem 0;
  }
  #youtube .youtube-text {
    height: fit-content;
  }
  #youtube .youtube-text p {
    margin: 1rem 0 3.5rem;
  }
  #contact .contact-heading {
    text-align: center;
  }
  #contact .contact-heading-icons {
    justify-content: center;
  }
}

@media all and (max-width: 680px) {
  .hero-wrapper {
    min-height: 75vh;
  }
  .hero-wrapper .hero-text h1 {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }
  .hero-wrapper .hero-image img {
    width: 80%;
  }
  #services .services-items h1 {
    font-size: 3rem;
  }
  #services .services-items h5 {
    margin: 0.5rem 0;
  }
  #about {
    padding: 5rem 0;
  }
  #about .about .about-text p {
    margin: 1.3rem 0 3rem;
  }
  #about .about-image img {
    width: 80%;
  }
  #projects {
    padding: 2rem 0;
  }
  #projects .projects-grid {
    margin-bottom: 3rem;
  }
  #projects .projects .project .project-image {
    height: 275px;
  }
  #projects .projects .project .project-info {
    padding: 1rem;
  }
  #skillSet .skillSet-items .skillSet-item {
    padding: 0 !important;
    margin-bottom: 1.5rem;
  }
  #skillSet .skillSet-bottom .slide-tech img {
    width: 100%;
  }
  #contact {
    margin: 1rem 0;
  }
  #contact .contact-form form button {
    font-size: 0.9rem;
  }
  footer a {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 580px) {
  .hero-wrapper .hero-image img {
    width: 100%;
  }
}

@media all and (max-width: 450px) {
  #projects {
    padding: 2rem 0;
  }
  #projects .projects-grid {
    margin-bottom: 3rem;
  }
  #projects .projects .project .project-image {
    height: 235px;
  }
}
/*# sourceMappingURL=App.css.map */